.power-button {
	@include widget-section;
	@include widget-section-hover;
	@include widget-section-active;

	padding: 8px;
}

.widget-button {
	@include widget-section;
	@include widget-section-hover;
	@include widget-section-active;
}

.active {
	background: $accent;

	&:hover {
		background: $accent-light;
	}

	&:active {
		background: $accent-dark;
	}
}
