ags/types
assets
chromium/
Code/
dconf/
discord/
dunst/
Electron/
evolution/
github-copilot/
gtk-3.0
gtk-4.0
htop/
kde.org/
microsoft-edge/
nautilus/
nvim/
nwg-look/
pulse/
rog/
wallpapers/
waybar/
xsettingsd/
yay/
dolphinrc
gwenviewrc
LICENSE
mimeapps.list
pavucontrol.ini
