.widget-container {
	padding: 0.1px;
}

.widget {
	@include widget;
}

.widget-section {
	@include widget-section;
}

.wallpapers {
	background-color: $primary-bg;
	padding: 8px;
	min-width: 400px;
}

.overlay {
	min-width: 400px;

	& box {
		min-width: 400px;
		min-height: 200px;
		border-radius: $radius-2;
	}
}
