* {
  all: unset;
  font-family: "sans-serif";
  color: #F4F7F8;
}

.bar {
  background: rgba(68, 71, 82, 0.1);
}

.bar-button {
  padding: 0 8px 0 8px;
  border-radius: 8px;
  font-size: 10px;
}
.bar-button:hover {
  background: rgba(207, 218, 231, 0.1);
}
.bar-button:active {
  background: rgba(207, 218, 231, 0.03);
}

.workspace_indicator {
  border-radius: 8px;
  padding: 12px;
}
.workspace_indicator .workspace {
  background: rgba(207, 218, 231, 0.05);
  border-radius: 12px;
  min-width: 8px;
  min-height: 8px;
  transition: min-height 100ms cubic-bezier(1, 0, 0, 1);
}
.workspace_indicator .workspace.active {
  background: #F4F7F8;
  min-height: 8px;
}

.slider trough {
  background-color: rgba(111, 116, 170, 0.1);
  border-radius: 4px;
}
.slider highlight {
  min-height: 16px;
  background-color: #2B49E5;
  border-radius: 4px;
}

/* NOTE: ---------------------------------------------> Right Section */
calendar {
  all: unset;
  background: rgba(8, 10, 26, 0.8);
  font-size: 1.1rem;
}
calendar button {
  background: #ec5f67;
}
calendar.button {
  background: none;
}
calendar.button:hover {
  background: rgba(57, 58, 82, 0.5);
}
calendar:selected {
  color: #2b96fb;
  background: none;
}
calendar.header {
  background-color: transparent;
  border: none;
  color: #F4F7F8;
}
calendar.highlight {
  background-color: transparent;
  color: rgba(244, 247, 248, 0.5);
}
calendar:indeterminate {
  color: rgba(244, 247, 248, 0.1);
}

.control-panel {
  padding: 12px;
  border-radius: 12px;
  min-width: 300px;
}

.face {
  border-radius: 50%;
}

.user_box {
  padding: 8px;
}

.music_player {
  padding: 8px;
}

.progress {
  border-radius: 8px;
  padding-bottom: 4px;
}
.progress trough {
  border-radius: 8px;
  background: rgba(75, 77, 107, 0.5);
}
.progress trough progress {
  background: #F4F7F8;
  border-radius: 8px;
}

.connection_box .connection_button {
  padding: 0 8px 0 8px;
  border-radius: 8px;
  font-size: 18px;
}

.widget-container {
  padding: 0.1px;
}

.widget {
  padding: 12px;
  border-radius: 12px;
  background: rgba(8, 10, 26, 0.8);
}

.widget-section {
  border-radius: 8px;
  background: rgba(207, 218, 231, 0.05);
  padding: 12px;
}

.wallpapers {
  background-color: rgba(8, 10, 26, 0.8);
  padding: 8px;
  min-width: 400px;
}

.overlay {
  min-width: 400px;
}
.overlay box {
  min-width: 400px;
  min-height: 200px;
  border-radius: 8px;
}

.power-button {
  border-radius: 8px;
  background: rgba(207, 218, 231, 0.05);
  padding: 12px;
  padding: 8px;
}
.power-button:hover {
  background: rgba(207, 218, 231, 0.1);
}
.power-button:active {
  background: rgba(207, 218, 231, 0.03);
}

.widget-button {
  border-radius: 8px;
  background: rgba(207, 218, 231, 0.05);
  padding: 12px;
}
.widget-button:hover {
  background: rgba(207, 218, 231, 0.1);
}
.widget-button:active {
  background: rgba(207, 218, 231, 0.03);
}

.active {
  background: #2B49E5;
}
.active:hover {
  background: #3C59F2;
}
.active:active {
  background: #223BBB;
}
